<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Book Edit</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/api/books/{bookId}/edit(bookId=${book.id})}" th:object="${book}" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" th:value="'PATCH'">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Book name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name" name="name"
                                th:field="*{name}"
                                placeholder="Book name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category" th:field="*{bookCategory}">
                            <option value="HORROR">Horror</option>
                            <option value="FANTASY">Fantasy</option>
                            <option value="SCI_FI">Sci-Fi</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author">Author</label>
                        <input
                                type="text"
                                class="form-control"
                                id="author"
                                name="author"
                                th:field="*{authorName}"
                                placeholder="Author initials">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="publishingHouse">Publisher</label>
                        <input
                                type="text"
                                class="form-control"
                                id="publishingHouse"
                                name="publishingHouse"
                                th:field="*{publishingHouseName}"
                                placeholder="Publishing house">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="photoUrl">PhotoUrl</label>
                        <input
                                type="text"
                                class="form-control"
                                id="photoUrl"
                                name="photoUrl"
                                th:field="*{photoUrl}"
                                placeholder="Photo Url">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
