<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Our Books</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Books</h1>
                <p class="lead fw-normal text-muted mb-0">Books from stock</p>
            </div>
            <div class="row gx-5">
                <div th:each="book : ${books}" class="col-lg-6 mb-2">
                    <a th:href="@{'/api/books/' + ${book.id}}" class="text-decoration-none link-dark">
                        <div>
                            <img class="card-img-top img-fluid" th:src="${book.photoUrl}" alt="..."
                                 style="max-width: 300px; max-height: 500px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title h3 fw-bolder" th:text="${book.name}">Project name</h5>
                            </div>
                        </div>
                    </a>
                    <a class="btn btn-primary" th:href="@{'/api/books/' + ${book.id} + '/edit'}">Edit</a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

</html>
